* {
    /* border: solid 1px red; */
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
}
header { 
    font-size: 20px;
    margin-bottom: 150px;
}
.time {
    position: absolute;
    right: 50px;
}
.intro {
    text-align: center;
    font-weight: bold;
}
main h1 {
    font-size: 50px;
    margin-bottom: 30px;

}
.intro p {
    font-size: 25px;
    padding-inline: 400px;
}
#startbutton {
    margin-top: 25px;
    font-size: 25px;
    background-color: rgba(117, 43, 117, 0.534);
}
.hide {
    display: none;
}
#container {
    text-align: center;
    border: solid 2px blue;
    width: 500px;
    max-width: 50%;
    min-height: 350px;
    height: fit-content;
    background-color: rgba(117, 43, 117, 0.534);
    border-radius: 10px;
}
#question {
    font-size: 40px;
    padding: 25px 0 40px 0;
}
#answer-choices {
    margin: 0 30px ;
}
.answers {
    display: block;
    margin: 20px 0;
    font-size: 25px;
    background-color: rgba(223, 51, 223, 0.308);
    width: 200px;
    min-width: fit-content;
}
#finale {
    width: 600px;
    min-width: fit-content;
    height: 400px;
    min-height: fit-content;
}
#finale p {
    font-size: 30px;
    margin-top: 25px;
}
#finale h2{
    font-size: 60px;
    font-weight: bold;
}
#ldb {
    font-size: 60px;
    font-weight: bold;
}
#leaderboards {
    background-color: #b69b9ba2;
    padding: 25px;
    height: 350px;
}
.stat{
    font-size: 30px;
    margin: 25px 0 25px 0;
    border-bottom: tomato 3px solid;
}
#finale {
    background-color: #b69b9ba2;
}
#finale p {
    font-size: 40px;
}
#fname {
    font-size: 30px;
    width: 300px;
    min-width: fit-content;
    height: 40px;
    min-height: fit-content;
    margin: 30px 30px 0px 5px;
    border-radius: 5px;
    border: solid 2px #b69b9b48;
}
#finale {
    padding: 25px;
    border-radius: 15px;
    border: solid 4px #b69b9b48;
}
#submit-btn {
    background-color: white;
    margin-left: 5px;
    border: solid 2px #b69b9b48;
    border-radius: 5px;
    color: rgb(100, 98, 98);
    width: 150px;
}